<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>{{ title }}</h3>
    <p>
      Nou zoals in de titel beschreven staat, Dit is mijn versie van de profiles binnen Steam. Die doormiddel
      van de SteamAPI binnen worden gehaald.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Robin Egberts</h5>
        <p class="card-text">
          Studentnummer: 2136993
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <ul>
    <li *ngFor="let entiteit of entities" class="d-inline-block">
      <div class="col-sm-12 col-md-4">
        <app-usecase-details [entiteit]="entiteit"></app-usecase-details>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
