<div *ngIf="review" class="col-12">
  <h3>{{review.title}}</h3>
  <p>{{review.content}}</p>
  <span>{{review.postDate | date}}<span *ngIf="review.edited"> - (Edited)</span></span>
  <div *ngIf="canEditDelete()">
    <a routerLink="/reviews/{{game.appid}}/{{review._id}}"><button class="btn-steam"><span>Edit</span></button></a>
    <button class="btn-steam d-inline" (submit)="delete()"><span>Delete</span></button>
  </div>
  <!-- ADD BUTTONS TO EDIT & DELETE THE REVIEW! IF THE REVIEW IS FROM THE USER! -->
</div>
