<div *ngIf="review" class="row steam-back-ground">
  <div class="col-1">
    <button class="vote-button" (click)="upVote()" style="margin-top: 5px;">
      <img *ngIf="review.isUpVoted" src="../../../assets/upvote-arrow-lit.png" alt="" class="vote-image" width="30"
           height="30"/>
      <img *ngIf="!review.isUpVoted" src="../../../assets/upvote-arrow.png" alt="" class="vote-image" width="30"
           height="30"/>
    </button>
    <p style="text-align: center; margin-top: 10px; margin-bottom: 10px; margin-left: 5px">
      {{review.upVoteCount - review.downVoteCount}}
    </p>
    <button (click)="downVote()" class="vote-button">
      <img *ngIf="review.isDownVoted" src="../../../assets/downvote-arrow-lit.png" alt="" class="vote-image"
           width="30" height="30"/>
      <img *ngIf="!review.isDownVoted" src="../../../assets/downvote-arrow.png" alt="" class="vote-image" width="30"
           height="30"/>
    </button>
  </div>
  <div *ngIf="profile" class="col-2">
    <a routerLink="/profile/{{profile.id}}">
      <img class="profile-img" src="{{profile.avatarfull}}" width="100" height="100" alt=""/>
    </a>
  </div>
  <div class="col-8">
    <a routerLink="/review/{{review._id}}">
      <h3>{{review.title}}</h3>
      <p class="review-content">{{review.content}}</p>
      <div class="d-inline">
        <p>{{review.postDate | date}} <span *ngIf="review.edited" style="color: white;">- (<i>Edited</i>)</span></p>
      </div>
    </a>
  </div>
  <div class="col-1" *ngIf="canEditDelete()">
    <button (click)="delete()" class="vote-button">
      <img src="../../../assets/x-sign.png" alt="" width="20" height="20">
    </button>
  </div>
</div>
