<div class="col-8">
  <div class="steam-back-ground">
    <form [formGroup]="loginForm">
      <div class="row shift" style="margin-top: 10px;">
        <label>Email <br/>
          <input class="input-steam" formControlName="email" required type="text"/>
        </label>
        <div class="text-warning" *ngIf="loginForm.get('email').touched && (loginForm.get('email').errors?.required || loginForm.get('email').errors?.pattern)">
          Email is required or invalid!
        </div>
      </div>
      <div class="row shift">
        <label>Password <br/>
          <input class="input-steam" formControlName="password" required type="password"/>
        </label>
        <div class="text-warning" *ngIf="(loginForm.get('password').touched && loginForm.get('password').errors?.required)">
          Password is required or invalid!
        </div>
      </div>
      <div class="row shift">
        <button class="btn-steam" [disabled]="!loginForm.valid" (click)="login()"><span>Login</span></button>
      </div>
      <div class="row shift">
        <label class="alert-warning">{{message.get('login')}}</label>
      </div>
    </form>
  </div>
</div>
