.profile-img {
  transition: all 0.25s ease-in-out;
  padding: auto;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  margin: 15px;
}

.label {
  display: inline-block;
  color: white;
}

.profile-img:hover {
  transform: scale(1.1,1.1)
}
