<div *ngIf="inLog.isLoggedIn()" style="margin-top: 10px">
  <div class="row">
    <div class="col-12">
      <label>
        <input #searchBox class="input" type="text"/>
      </label>
      <button type="submit" class="login d-inline-block" (click)="search(searchBox.value)"><span>Search</span></button>
    </div>
  </div>
  <div *ngIf="gameList">
    <div *ngFor="let j of counter(gameList.length / 4); let i = index" class="row">
      <div *ngFor="let game of gameList.splice((i) * 4, ((i + 1) * 4))" class="col-3">
        <a routerLink="/reviews/{{game.appid}}">
          <app-game [game]="game"></app-game>
        </a>
      </div>
      <br/>
    </div>
  </div>
</div>
