<div *ngIf="inLog.isLoggedIn()" style="margin-top: 10px">
  <div class="row">
    <div class="col-12">
      <label>
        <input #searchBox class="input" type="text"/>
      </label>
      <button type="submit" class="login d-inline-block" (click)="search(searchBox.value)"><span>Search</span></button>
    </div>
  </div>
  <div *ngIf="gameList">
    <div *ngFor="let j of counter(); let i =  index" class="row">
      <div *ngFor="let game of getGameRow(i)" class="col-3">
        <a routerLink="/reviews/{{game.appid}}">
          <app-game [game]="game"></app-game>
        </a>
      </div>
    </div>
    <br/>
  </div>
</div>
