<div *ngIf="inLog.isLoggedIn()" style="margin-top: 10px">
  <div class="row">
    <div class="mx-auto" style="display: inline-block;">
      <label>
        <input #searchBox class="input-steam" type="text"/>
      </label>
      <button type="submit" style="margin-left: 5px; margin-top: 2px; display: inline-block" class="btn-steam" (click)="search(searchBox.value)"><span>Search</span></button>
    </div>
  </div>
  <div *ngIf="gameList">
    <div *ngFor="let j of counter(); let i =  index" class="row">
      <div *ngFor="let game of getGameRow(i)" class="col-3">
        <a *ngIf="game" routerLink="/reviews/{{game.appid}}">
          <app-game [game]="game"></app-game>
        </a>
      </div>
      <div *ngIf="this.gameList.length == 3" class="col-3"></div>
      <div *ngIf="this.gameList.length == 2" class="col-3"></div>
      <div *ngIf="this.gameList.length == 1" class="col-3"></div>
    </div>
    <br/>
  </div>
</div>
