<div>
  <div class="row">
    <div class="col-1">
      <button (click)="goBack()" class="vote-button">
        <img src="../../assets/arrow-left.png" width="40" height="40" alt=""/>
      </button>
    </div>
    <div>

    </div>
  </div>
  <div *ngIf="profile">
    <div class="row steam-back-ground">
      <div class="col-4">
        <img src="{{profile.avatarfull}}" alt=""/>
      </div>
      <div class="col-8">
        <h3>{{profile.personaname}}</h3>
      </div>
    </div>
    <div *ngIf="reviews">
      <div *ngIf="reviews.length > 0" style="margin-top: 10px">
        <div *ngFor="let review of reviews; let i = index" class="row" style="margin-left: 1px; margin-top: 10px">
          <app-review [review]="review" [profile]="getProfile(i)" [game]="getGame(i)"></app-review>
        </div>
      </div>
      <div *ngIf="reviews.length === 0" class="row steam-back-ground" style="margin-top: 10px">
        <div class="col-12">
          <h3 style="text-align: center">No reviews found!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
