<!-- ADD FORM CONTROL!-->
<div class="back-ground">
  <div class="row shift" style="margin-top: 15px">
    <label>Email: <br/>
      <input class="input" #email/>
    </label>
  </div>
  <div class="row shift">
    <label>Password: <br/>
      <input class="input" #password/>
    </label>
  </div>
  <div class="row shift">
    <label>Steam: <br/>
      <input class="input" #steam/>
    </label>
  </div>

  <div class="row shift" style="margin-top: 15px">
    <button class="register" (click)="register(email.value, password.value, steam.value)">
      <span>Register</span>
    </button>
  </div>
  <div class="row shift" style="margin-top: 10px">
    <label class="alert-danger">{{message.get('register')}}</label>
  </div>
</div>
