<!-- ADD FORM CONTROL!-->
<div class="steam-back-ground">
  <form [formGroup]="registerForm">
    <div class="row shift" style="margin-top: 15px">
      <label>Email: <br/>
        <input class="input-steam"  formControlName="email" required type="text"/>
      </label>
      <div class="text-warning"
           *ngIf="registerForm.get('email').touched && (registerForm.get('email').errors?.required || registerForm.get('email').errors?.pattern)">
          No or invalid email!
      </div>
    </div>
    <div class="row shift">
      <label>Password: <br/>
        <input class="input-steam" formControlName="password" required type="password"/>
      </label>
      <div class="text-warning"
           *ngIf="registerForm.get('password').touched && (registerForm.get('password').errors?.required)">
        No or invalid password!
      </div>
    </div>
    <div class="row shift">
      <label>Steam: <br/>
        <input class="input-steam" formControlName="steam" required type="text"/>
      </label>
      <div class="text-warning"
           *ngIf="registerForm.get('steam').touched && (registerForm.get('steam').errors?.required)">
        No or invalid steam-id!
      </div>
    </div>

    <div class="row shift" style="margin-top: 15px">
      <button class="btn-steam" [disabled]="!registerForm.valid" (click)="register()">
        <span>Register</span>
      </button>
    </div>
    <div class="row shift" style="margin-top: 10px">
      <label class="alert-warning">{{message.get('register')}}</label>
    </div>
  </form>
</div>
